/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-dic-2013, 13:33:25
    Author     : ana
*/
body
{
    background-color: #e9e8e4;

}
.list-group-item.active, .list-group-item.active:hover
{
    background-color:#ea3852;
    border-color:#ea3852;
}
.navbar-inverse .navbar-brand {
    color: #d1d0cc;
}
.navbar-inverse .navbar-nav>.active>a
{
    color: #ea3852;
}
a {
    color: #ea3852;
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #d1d0cc;
}
caption
{
    font-size: 15pt;
    font-weight: bold;
    color: #ea3852;
}
.btn-primary 
{
    color: #fff;
    background-color:  #ea3852;
    border-color:  #ea3852;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary 
{
color:#ea3852;
background-color: #fff;
border-color: #fff;
}